:host {
  width: 100%;
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  align-items: center;
}

.root {
  width: 100%;
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  align-items: center;
}

table {
  width: 100%;
}

.shopping-cart-table {
  // background-color: #fff;
  margin-bottom: 10px;
}

// .mat-cell,
// .mat-footer-cell {
//   color: #000000;
// }
