<!-- <p>merchandise-detail works!</p> -->
<div class="detail-body">
  <div class="image-container">
    <ng-container *ngIf="!this.merchandise.ImagePath.includes('.jpg')">
      <img src="https://placem.at/places?h=200&w=200" />
    </ng-container>
    <ng-container *ngIf="this.merchandise.ImagePath.includes('.jpg')">
      <img class="product-image" [src]="merchandise.ImagePath" />
    </ng-container>
  </div>
  <div class="price-body">
    <div>
      售價
      <div class="num-part">{{ merchandise.Price }}</div>
    </div>
    <div>
      庫存
      <div class="num-part">{{ merchandise.RemainingQty }}</div>
    </div>
    <div style="width: 100%;align-items: center">
      <span>購買數量</span>
      <div>
        <div class="amount-btn">
          <button
            mat-raised-button
            class="countbtn"
            (click)="purchasingQty = purchasingQty <= 0 ? 0 : purchasingQty - 1"
          >
            -
          </button>
          <input
            type="text"
            style="width:30%;text-align: center"
            [(ngModel)]="purchasingQty"
          />
          <button
            mat-raised-button
            class="countbtn"
            (click)="purchasingQty = purchasingQty + 1"
          >
            +
          </button>
        </div>
        <div style="align-items: center;">
          剩餘 {{ merchandise.RemainingQty }} 件
        </div>
      </div>
    </div>
    <div>
      售出
      <div class="num-part">{{ merchandise.SoldQty }}</div>
    </div>
    <div class="mt20">
      <button mat-raised-button style="background-color: #fca21b">
        <mat-icon>shopping_cart</mat-icon>
        放入購物車
      </button>
      <button class="ml10" mat-raised-button style="background-color: #ec3845">
        立即結帳
      </button>
    </div>
  </div>
</div>
<div style="width: 63%">
  <app-tabs style="width: 100%">
    <app-tab tabTitle="商品說明">
      <div class="item-info">
        <p>{{ merchandise.MerhandiseContent }}}</p>
      </div>
    </app-tab>
    <app-tab tabTitle="問與答">
      <div class="item-info">
        <p>2問與答</p>
      </div>
    </app-tab>
    <app-tab tabTitle="購買人次">
      <div class="item-info">
        <p>3購買人次</p>
      </div>
    </app-tab>
  </app-tabs>
</div>
