<div class="header">
  <div class="headertitle">
    <a class="headeranchor" [routerLink]="['/main']">AChome</a>

    <mat-form-field class="header-search-field">
      <input
        matInput
        type="text"
        placeholder="Search Item Name.."
        [(ngModel)]="searchValue"
      />
      <button
        mat-button
        *ngIf="searchValue"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="searchValue = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button mat-icon-button color="primary">
      <mat-icon>search</mat-icon>
    </button>
  </div>
  <div class="headerbtn">
    <ng-container *ngIf="!loginservice.isLoggedIn; else elseTemplate">
      <button mat-button (click)="toRegister()">
        Sign Up
      </button>
      <button mat-button (click)="openDialog()">
        Sign In
      </button>
    </ng-container>
    <ng-template #elseTemplate>
      <span>你好，{{ userAfterLogin.UserName }}</span>
      <!-- <a [routerLink]="['/shoppingCart']">
        <mat-icon>shopping_cart</mat-icon>
      </a>
      <button mat-button (click)="Logout()">
        Logout
      </button> -->

      <button mat-button [matMenuTriggerFor]="menu">選單</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item style="position: relative;">
          <a [routerLink]="['/shoppingCart']" style="text-decoration: none;">
            <span class="menu-text linkbtn">
              購物車<mat-icon>shopping_cart</mat-icon>
            </span>
          </a>
        </button>
        <button mat-menu-item (click)="toEstablishOrder()">
          <span class="menu-text">已成立訂單</span> <mat-icon>subject</mat-icon>
        </button>
        <button mat-menu-item (click)="Logout()">
          <span class="menu-text">登出</span> <mat-icon>exit_to_app</mat-icon>
        </button>
      </mat-menu>
    </ng-template>
  </div>
</div>
