<div class="header">
  <div class="headertitle">
    <a class="headeranchor" [routerLink]="['/main']">AChome</a>

    <!-- <mat-form-field class="header-search-field"> -->
    <div style="position: relative;">
      <input type="text" [(ngModel)]="searchName" class="search-input" />
      <button
        style="position: absolute;right: 0px;bottom: -3px;"
        mat-button
        *ngIf="searchName"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="searchName = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <!-- </mat-form-field> -->
    <button mat-icon-button color="primary" (click)="searchByHeader()">
      <mat-icon>search</mat-icon>
    </button>
  </div>
  <div class="headerbtn">
    <ng-container *ngIf="!loginservice.isLoggedIn; else elseTemplate">
      <button mat-button (click)="toRegister()">
        Sign Up
      </button>
      <button mat-button (click)="openDialog()">
        Sign In
      </button>
    </ng-container>
    <ng-template #elseTemplate>
      <span>你好，{{ userAfterLogin.UserName }}</span>
      <!-- <a [routerLink]="['/shoppingCart']">
        <mat-icon>shopping_cart</mat-icon>
      </a>
      <button mat-button (click)="Logout()">
        Logout
      </button> -->

      <button mat-button [matMenuTriggerFor]="menu">選單</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item style="position: relative;">
          <a [routerLink]="['/shopping-cart']" style="text-decoration: none;">
            <span class="menu-text linkbtn">
              <mat-icon>shopping_cart</mat-icon>購物車
            </span>
          </a>
        </button>
        <button mat-menu-item (click)="toEstablishOrder()">
          <span class="menu-text"> <mat-icon>subject</mat-icon>已成立訂單</span>
        </button>
        <button mat-menu-item (click)="Logout()">
          <span class="menu-text"><mat-icon>exit_to_app</mat-icon>登出</span>
        </button>
      </mat-menu>
    </ng-template>
  </div>
</div>
