<div class="header">
  <div class="headertitle">
    <a class="headeranchor" [routerLink]="['/main']">AChome</a>
  </div>
  <div class="headerbtn">
    <mat-form-field class="example-form-field">
      <input
        matInput
        type="text"
        placeholder="Search Item Name.."
        [(ngModel)]="searchValue"
      />
      <button
        mat-button
        *ngIf="searchValue"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="searchValue = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button mat-icon-button color="primary">
      <mat-icon>search</mat-icon>
    </button>
    <ng-container *ngIf="!loginservice.isLoggedIn; else elseTemplate">
      <button mat-button (click)="toRegister()">
        Sign Up
      </button>
      <button mat-button (click)="openDialog()">
        Sign In
      </button>
    </ng-container>
    <ng-template #elseTemplate>
      <a [routerLink]="['/shoppingCart']">
        <mat-icon>shopping_cart</mat-icon>
      </a>
      <button mat-button (click)="Logout()">
        Logout
      </button>
    </ng-template>
  </div>
</div>
