$itemColor: #b2ebf2;
@mixin common-color {
  background-color: $itemColor;
}

:host {
  display: flex;
  flex-flow: column nowrap;
  width: 50%;
  height: 25%;
  justify-content: space-evenly;
  padding-left: 30px;
  margin: 10px;
  margin-left: 38px;
  background-color: #b2ebf2;
}

:host div {
  display: flex;
}

.sort-button {
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 53%;
}

.search-bar {
  flex-wrap: nowrap;
}

.search-input {
  border: none;
  background-color: #ffffff;
}
