<div class="palm ">
  <ul class="drop-down-menu">
    <li *ngFor="let category of CategoryList; let index = index">
      <div>{{ category.Cname }}</div>

      <ul>
        <li *ngFor="let detail of category.Detail; let detailIndex = index">
          <div class="detail">
            <a
              [routerLink]="[
                '/main',
                { Cid: category.Cid, DetailId: detail.DetailId }
              ]"
              style="color:#000000; text-decoration: none;"
            >
              {{ detail.DetailName }}
            </a>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</div>
<div class="filler"></div>
