<!-- <p>merchandise-detail works!</p> -->

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
<ng-container *ngIf="merchandise; else loading">
  <div class="detail-body">
    <div class="image-container">
      <ng-container
        *ngIf="
          merchandise.ImagePath && merchandise.ImagePath.includes('.jpg');
          else elseTemplate
        "
      >
        <img class="product-image" [src]="merchandise.ImagePath" />
      </ng-container>
      <ng-template #elseTemplate>
        <img src="https://placem.at/places?h=400&w=400" />
      </ng-template>
    </div>
    <div class="price-body">
      <div>
        售價
        <div class="num-part">{{ merchandise.Price }}</div>
      </div>
      <div>
        庫存
        <div class="num-part">{{ merchandise.RemainingQty }}</div>
      </div>
      <div *ngIf="this.merchandise.EnableSpec">
        大小
        <div class="num-part">
          <mat-radio-group
            class="radio-group"
            [(ngModel)]="specOrder[0]"
            (change)="checkSpec()"
          >
            <mat-radio-button
              class="radio-button"
              *ngFor="let spec of this.merchandise.Spec1"
              [value]="spec"
            >
              {{ spec }}
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div *ngIf="this.merchandise.EnableSpec">
        顏色
        <div class="num-part">
          <mat-radio-group
            class="radio-group"
            [(ngModel)]="specOrder[1]"
            (change)="checkSpec()"
          >
            <mat-radio-button
              class="radio-button"
              *ngFor="let spec of this.merchandise.Spec2"
              [value]="spec"
            >
              {{ spec }}
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div style="width: 100%;align-items: center">
        <span>購買數量</span>
        <div>
          <div class="amount-btn">
            <button
              mat-raised-button
              class="countbtn-left"
              (click)="
                purchasingQty = purchasingQty <= 0 ? 0 : purchasingQty - 1
              "
            >
              -
            </button>
            <input
              type="text"
              style="width:30%;text-align: center"
              [(ngModel)]="purchasingQty"
              (change)="setVal()"
            />
            <button
              mat-raised-button
              class="countbtn-right"
              (click)="
                purchasingQty =
                  purchasingQty >= merchandise.RemainingQty
                    ? merchandise.RemainingQty
                    : purchasingQty + 1
              "
            >
              +
            </button>
          </div>
          <!-- <div style="align-items: center;">
            剩餘 {{ merchandise.RemainingQty }} 件
          </div> -->
        </div>
      </div>
      <div>
        售出
        <div class="num-part">{{ merchandise.SoldQty }}</div>
      </div>
      <div class="mt20">
        <button
          mat-raised-button
          style="background-color: #fca21b"
          [disabled]="CanCheckOuted"
          (click)="addToShoppingCart()"
        >
          <mat-icon>shopping_cart</mat-icon>
          放入購物車
        </button>
        <button
          class="ml10"
          mat-raised-button
          style="background-color: #ec3845"
          [disabled]="CanCheckOuted"
        >
          立即結帳
        </button>
      </div>
    </div>
  </div>
  <div style="width: 69%">
    <app-tabs style="width: 100%">
      <app-tab tabTitle="商品說明">
        <div class="item-info">
          <div>{{ merchandise.MerhandiseContent }}</div>
        </div>
      </app-tab>
      <app-tab tabTitle="問與答">
        <div class="item-info">
          <div class="qa-part" *ngFor="let qa of merchandise.MerchandiseQa">
            <div class="qa-question">
              <div>
                {{ qa.QuestionAccount }}
                <div style="margin-left: 5px; color: #919191;">
                  ({{ qa.AskingTime | date }})
                </div>
              </div>
              <div>{{ qa.Question }}</div>
            </div>
            <mat-divider></mat-divider>
            <div *ngIf="qa.Answer">
              <div>賣家答覆:</div>
              <div style="margin-left: 5px;">
                {{ qa.Answer }}
                <div style="margin-left: 5px; color: #919191;">
                  ({{ qa.AnswerTime | date }})
                </div>
              </div>
            </div>
          </div>
        </div>
      </app-tab>
      <app-tab tabTitle="購買人次">
        <div class="item-info">
          <div>3購買人次</div>
        </div>
      </app-tab>
    </app-tabs>
  </div>
</ng-container>
