.mat-column-MerchandiseTitle {
  max-width: 500px;
}
// .mat-column-Spec1 .mat-column-Spec2 {
//   padding: 0 5px;
// }
.mat-column-Spec1 {
  padding: 0 5px;
}

.mat-column-Spec2 {
  padding: 0 5px;
}

.mat-column-PurchaseQty {
  text-align: right;
}
