/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

#live2dcanvas {
  border: 0 !important;
}

.mat-radio-outer-circle {
  border-color: rgba(0, 0, 0, 0.54) !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #69f0ae !important;
}
